# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/
.venv/
env/

# macOS
.DS_Store

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter
.ipynb_checkpoints/

# Python Env
.python-version

# Models
*.pkl
*.joblib

# Data Files (optional)
data/raw/*
!data/raw/.gitkeep

data/processed/*
!data/processed/.gitkeep

# Outputs
output/recommendation.csv

